.artistsTitle {
    padding-bottom: 2rem;
    width: 100%;
    text-align: right;
    color: white;
}

.innerArtistContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .innerArtistContainer{
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) {
    .innerArtistContainers{
        flex-direction: row;
    }
}

