header{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
}

p{
    font-size: 2vm !important;
    color: white;
}

.bg{
    object-fit: contain;
    position: absolute;
    width: 100%;
    z-index: -1; pointer-events: none;
}