
.outerContainer{
    background-color: #07332E;
    height: auto;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 20vh;
}

.innerContainer{
    padding: 0 11% 0 !important;
}

@media screen and (max-width: 1440px) {
    
}