
.outerContainer{
    background-color: #07332E;
    height: auto;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.innerContainer{
    padding-right: 0 !important;
    padding-left: 0 !important;
    
}