
nav{
    padding: 5% 11% 0 11%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.navbar__HeaderNavlinks{
    display: block;
    width: 50%;
    margin-top: 4%;
}

.navbar__DrawerBtn{
    display: none;
    width: auto;
    background: none;
    border-style: none;
    height: min-content;
    margin: 6.8% 0px auto 0px;
    height: 100%;
}

.navbar__DrawerBtn>div{
    width: 6.5vw;
    height: 1px;
    background-color: white;
    margin: 1vw 0;
    border-radius: 1px;
}

.logo{
    object-fit: contain;
    width: 31vw;
}


@media screen and (max-width: 768px){


    .navbar__DrawerBtn{
        display: block;    
    }

    .navbar__HeaderNavlinks{
        display: none;
    }

    .logo{
        width: 60vw;
    }

    nav{
        justify-content: space-between;
    }
}

@media screen and (min-width: 769px){

    .drawerfragment{
        display: none;
    }
    
}
    


@media screen and (max-width: 1024px ) and (min-width: 769px) {

    nav{
        justify-content: start;
    }
    
}