.navlinks__uList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    align-items: center;
  }

  .navlinks__uList li {
    margin: 0 0.5rem;
    color: white !important;
  }

  .navlink {
    color: white;
    text-decoration: none;
  }

  .navlink a.active{
    color: white;
    text-decoration: none;
  }

  @media screen and  (max-width: 768px){

    .navlinks__uList{
      flex-direction: column;
      padding-top: 10vw;
    }

    .navlinks__uList li{
      margin-top: 2vw;
    }
    
  }