.artEvents__OuterContainer{
    width: 100%;
    padding-bottom: 15% !important; 
}

.artEvents__InnerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%
}

.artEvents__Title{
    text-align: left;
    padding-bottom: 5rem;
    font-size: 30px;
}