.artPieces__Container{
    width: 100%;
    padding: 15% 0 15% !important; 
    
}

.artPieces__Title{
    font-size: 30px;
    color: white;
    text-align: left;
    padding-bottom: 5rem;
}

.artPieces__ArtworksContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: auto;
}

.artPieces__Container>img{
    object-fit: contain;
    
}